@media only screen and (min-width: 800px) {
  html{
    height: 100%;
    width: 100%;
    body {    
      height: 100%;
      width: 100%;
      .grid-container{
        overflow: hidden;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding-top: 25vh;
        header{
          width: 86%;
          margin-left: 7%;
          margin-right: 7%;
        }
        .container{
          overflow-y: scroll;
        }
      }
    }
  }
}