@media only screen and (min-width: 768px) {
  html{
    height: 100%;
    width: 100%;
    body {    
      height: 100%;
      width: 100%;

      // This my Position static / relative way to do the Desktop Version
      // Will work on this later
      // position: relative;
      // background-color: lightblue;
      // .cover-page-header{
      //   margin: auto;
      //   position: fixed;
      //   width: 30%;
      //   top: 50%;
      //   transform: translateY(-50%);
      //   // left: 15%;
      //   // transform: translateX(-50%);
      //   float: left;
      // }
      // main{
      //   width: 60%;
      //   float: right;
      // }
      .grid-container{
        overflow: hidden;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding-top: 25vh;
        header{
          width: 86%;
          margin-left: 7%;
          margin-right: 7%;
        }
        .container{
          overflow-y: scroll;

        }
      }
    }
  }
}