html body nav{
  margin: 0 0 0 0;
  width: 100%;
  height: 120px;
  z-index: 1;
  background-color: #4056A1;
  position: fixed;
  padding: 1.5em;
  top: 0;
}

html body nav span{
  margin-top: top;
  color: #ffffff;
  font-family: 'Bungee', cursive;
}