html {
  body {
    main{
      margin-top: 20px;

      .new-tweet{
        .error-msg-section{
          display: block;
          width: 100%;
          border: 5px solid red;
          font-size: 20px;
          color: red;
          padding: 10px;
        }
        form{
          textarea{
            width: 100%;
            display: inline-block;
            background-color: #f4f1ec;
            border: none;
            border-bottom: 5px solid black;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: bold;
            resize: none;
          }
          &:focus{
            outline: none;
          }
          input{
            float: left;
            background-color: #4056A1;
            border: none;
            color: #ffffff;
            font-family: 'Bungee', cursive;
          }
          .counter{
            float: right;
            font-family: 'Bungee', cursive;
          }
                 
        }
      }

      #tweets-container{
        .tweet {
          border: 10px solid black;
          margin-top: 100px;
          padding: 20px;
          &:hover{
            box-shadow: 5px 10px CornflowerBlue;
            transition: 1s;
            font-weight: bold;
          }
        }
      }
    }
  }
}
/* The single tweet part */

.tweet:hover {
  box-shadow: 5px 10px CornflowerBlue;
  transition: 1s;
  font-weight: bold;
}

article.tweet header{
  width: 100%;
  display: inline-block;
  background-color: none;
}

article.tweet header{
  width: 100%;
  display: inline-block;
  background-color: none;
}

article.tweet div{
  display: inline;
}

article.tweet .right{
  float: right;
}

article.tweet header .right{
  opacity: 0;
}

/* after hoving the tweet ARTICLE */
/* only effect to header .right */
.tweet:hover header .right{
  opacity: 1;
  transition: 1s;
}

article.tweet header .right span{
  color: silver;
  font-weight: bold;
}

article.tweet footer .right span{
  color: #4056A1;
}

article.tweet footer .right span i{
  margin-right: 10px;
}

article.tweet footer{
  width: 100%;
  border-top: 5px solid black;
  display: inline-block;
  background-color: none;
  /* border: 5px solid red; */
  font-size: 15px;
  padding-top: 10px;
}