@media only screen and (min-width: 800px) {
  html {
    height: 100%;
    width: 100%; }
    html body {
      height: 100%;
      width: 100%; }
      html body .grid-container {
        overflow: hidden;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding-top: 25vh; }
        html body .grid-container header {
          width: 86%;
          margin-left: 7%;
          margin-right: 7%; }
        html body .grid-container .container {
          overflow-y: scroll; } }
html body .cover-page-header {
  margin-top: 120px;
  height: 400px;
  width: 100%;
  background-image: url("asfalt-light.png");
  background-color: DarkOrange;
  text-align: center; }
  html body .cover-page-header div {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    html body .cover-page-header div h2 {
      font-weight: normal; }

html body main {
  margin-top: 20px; }
  html body main .new-tweet .error-msg-section {
    display: block;
    width: 100%;
    border: 5px solid red;
    font-size: 20px;
    color: red;
    padding: 10px; }
  html body main .new-tweet form textarea {
    width: 100%;
    display: inline-block;
    background-color: #f4f1ec;
    border: none;
    border-bottom: 5px solid black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    resize: none; }
  html body main .new-tweet form:focus {
    outline: none; }
  html body main .new-tweet form input {
    float: left;
    background-color: #4056A1;
    border: none;
    color: #ffffff;
    font-family: 'Bungee', cursive; }
  html body main .new-tweet form .counter {
    float: right;
    font-family: 'Bungee', cursive; }
  html body main #tweets-container .tweet {
    border: 10px solid black;
    margin-top: 100px;
    padding: 20px; }
    html body main #tweets-container .tweet:hover {
      box-shadow: 5px 10px CornflowerBlue;
      transition: 1s;
      font-weight: bold; }
    html body main #tweets-container .tweet header {
      width: 100%;
      display: inline-block;
      background-color: none; }

/* The single tweet part */
article.tweet header {
  width: 100%;
  display: inline-block;
  background-color: none; }

article.tweet div {
  display: inline; }

article.tweet .right {
  float: right; }

article.tweet header .right {
  opacity: 0; }

/* after hoving the tweet ARTICLE */
/* only effect to header .right */
.tweet:hover header .right {
  opacity: 1;
  transition: 1s; }

article.tweet header .right span {
  color: silver;
  font-weight: bold; }

article.tweet footer .right span {
  color: #4056A1; }

article.tweet footer .right span i {
  margin-right: 10px; }

article.tweet footer {
  width: 100%;
  border-top: 5px solid black;
  display: inline-block;
  background-color: none;
  /* border: 5px solid red; */
  font-size: 15px;
  padding-top: 10px; }

html {
  font-size: 30px; }
  html body aside #goToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px; }

/*# sourceMappingURL=style.css.map */
